<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>betting area/Big6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{829,1218},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betting area/Big8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{695,1514},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betting area/COME.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{733,75}</string>
                <key>spriteSourceSize</key>
                <string>{733,75}</string>
                <key>textureRect</key>
                <string>{{857,1},{733,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>betting area/Don'tCome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,330}</string>
                <key>spriteSourceSize</key>
                <string>{91,330}</string>
                <key>textureRect</key>
                <string>{{1,1442},{91,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>betting area/Don'tPassBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,405}</string>
                <key>spriteSourceSize</key>
                <string>{62,405}</string>
                <key>textureRect</key>
                <string>{{765,851},{62,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betting area/Don'tPassOdd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,405}</string>
                <key>spriteSourceSize</key>
                <string>{53,405}</string>
                <key>textureRect</key>
                <string>{{934,1},{53,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betting area/Field.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{733,115}</string>
                <key>spriteSourceSize</key>
                <string>{733,115}</string>
                <key>textureRect</key>
                <string>{{1,1283},{733,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betting area/PassLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{848,44}</string>
                <key>spriteSourceSize</key>
                <string>{848,44}</string>
                <key>textureRect</key>
                <string>{{765,1},{848,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>betting area/PassOdd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{848,44}</string>
                <key>spriteSourceSize</key>
                <string>{848,44}</string>
                <key>textureRect</key>
                <string>{{811,1},{848,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>betting area/layodd, placebet and buybet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,53}</string>
                <key>spriteSourceSize</key>
                <string>{107,53}</string>
                <key>textureRect</key>
                <string>{{894,1526},{107,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>betting area/point10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,118}</string>
                <key>spriteSourceSize</key>
                <string>{107,118}</string>
                <key>textureRect</key>
                <string>{{808,1335},{107,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>betting area/point4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,118}</string>
                <key>spriteSourceSize</key>
                <string>{107,118}</string>
                <key>textureRect</key>
                <string>{{829,858},{107,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betting area/point5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,118}</string>
                <key>spriteSourceSize</key>
                <string>{107,118}</string>
                <key>textureRect</key>
                <string>{{829,978},{107,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betting area/point6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,118}</string>
                <key>spriteSourceSize</key>
                <string>{107,118}</string>
                <key>textureRect</key>
                <string>{{829,1098},{107,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>betting area/point8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,118}</string>
                <key>spriteSourceSize</key>
                <string>{107,118}</string>
                <key>textureRect</key>
                <string>{{455,1504},{107,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>betting area/point9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,118}</string>
                <key>spriteSourceSize</key>
                <string>{107,118}</string>
                <key>textureRect</key>
                <string>{{575,1514},{107,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chips/chip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{946,1203},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chips/chip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{946,1273},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chips/chip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{365,1576},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chips/chip4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{697,1444},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chips/chip5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{767,1444},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dices/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{934,591},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dices/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{934,673},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dices/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{929,755},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dices/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{928,1343},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dices/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{837,1444},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dices/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{812,1526},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu-modal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,40}</string>
                <key>spriteSourceSize</key>
                <string>{700,40}</string>
                <key>textureRect</key>
                <string>{{1,1400},{700,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,40}</string>
                <key>spriteSourceSize</key>
                <string>{1280,40}</string>
                <key>textureRect</key>
                <string>{{723,1},{1280,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>proposition area/AnyCraps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,60}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{1,1535},{240,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proposition area/AnySeven.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,60}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{333,1442},{240,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proposition area/hardways2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{857,736},{120,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>proposition area/hardways3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{575,1442},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proposition area/hardways4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{938,837},{120,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>proposition area/hardways5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{938,959},{120,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>proposition area/straightUp1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{938,1081},{120,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>proposition area/straightUp1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{333,1504},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proposition area/straightUp5-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{243,1576},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proposition area/straightUp6-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{736,1283},{120,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puckOFF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{243,1535},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puckON.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1,1597},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rebet_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{928,1425},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rollbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,60}</string>
                <key>spriteSourceSize</key>
                <string>{181,60}</string>
                <key>textureRect</key>
                <string>{{934,408},{181,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1015,1647}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:559b970896db496d126ccd8c70d1b3a9:6cf9c53fc3823972da578ef1578441fe:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
